


<!-- Navigation -->
{% include "navigation.njk" %}

<!-- Page Header-->
<div class="p-5 text-center bg-dark">
	<div class="container py-5">
		<h1 class="text-body-emphasis">{{  title }}</h1>
	</div>
</div>
