// scss-docs-start import-stack
// Configuration
@import "variables";
@import "fonts";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
//@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
//@import "bootstrap/scss/accordion";
//@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
//@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
//@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
//@import "bootstrap/scss/close";
//@import "bootstrap/scss/toasts";
//@import "bootstrap/scss/modal";
//@import "bootstrap/scss/tooltip";
//@import "bootstrap/scss/popover";
//@import "bootstrap/scss/carousel";
//@import "bootstrap/scss/spinners";
//@import "bootstrap/scss/offcanvas";
//@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";
// scss-docs-end import-stack



body {
    font-size: 1.25rem;

    @media (min-width: 992px) {
        font-size: 1.5rem;
    }
}

hr {
    border-color: #dee2e6;
    opacity: 1;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Fauna One", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
    margin: 2rem 0;
    line-height: 1.7;
}
p a {
    text-decoration: underline;
}

blockquote {
    font-style: italic;
    color: #6c757d;
}

.btn {
    letter-spacing: 0.0625em;
}

.form-floating input,
.form-floating textarea {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.form-floating input:focus,
.form-floating textarea:focus {
    box-shadow: none;
}
.form-floating label {
    color: #6c757d;
}

#mainNav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    background-color: #aaa;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#mainNav .navbar-brand {
    font-weight: 800;
}
#mainNav .navbar-toggler {
    font-size: 0.75rem;
    font-weight: 800;
    padding: 0.75rem;
    text-transform: uppercase;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link {
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}
@media (min-width: 992px) {
    #mainNav {
        //border-bottom: 1px solid transparent;
        //background: transparent;
    }
    #mainNav .navbar-brand {
        color: #aaa;
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
        color: rgba(255, 255, 255, 0.8);
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
        color: $gray-900;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
        color: black;
    }
}
@media (min-width: 992px) {
    #mainNav {
        transition: background-color 0.2s;
        /* Force Hardware Acceleration in WebKit */
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    #mainNav.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -118px;
        transition: transform 0.2s;
        background-color: rgba(204, 204, 204, 0.9);
        padding-bottom: 2rem;
    }
    #mainNav.is-fixed .navbar-brand {
        color: #212529;
    }
    #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
        color: #0085A1;
    }
    #mainNav.is-fixed .navbar-nav > li.nav-item > a {
        color: $gray-700;
    }
    #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
        color: $gray-900;
    }
    #mainNav.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        transform: translate3d(0, 100%, 0);
    }
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

header.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(2rem + 57px);
    padding-bottom: 1rem;
    background: no-repeat center center;
    background-color: #aaa;
    background-size: cover;
    background-attachment: scroll;
}
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    color: #aaa;
}
header.masthead .page-heading,
header.masthead .site-heading {
    text-align: center;
}
header.masthead .page-heading h1, header.masthead .page-heading .h1,
header.masthead .site-heading h1,
header.masthead .site-heading .h1 {
    font-size: 3rem;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin-top: 0.625rem;
}
header.masthead .post-heading h1, header.masthead .post-heading .h1 {
    font-size: 2.25rem;
}
header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block;
}
header.masthead .post-heading .subheading {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.75rem 0 2rem;
}
header.masthead .post-heading .meta {
    font-size: 1.25rem;
    font-weight: 300;
    font-style: italic;
}
header.masthead .post-heading .meta a {
    color: #fff;
}
@media (min-width: 992px) {
    header.masthead {
        padding-top: 6rem;
        padding-bottom: 1rem;
    }
    header.masthead .page-heading h1, header.masthead .page-heading .h1,
    header.masthead .site-heading h1,
    header.masthead .site-heading .h1 {
        font-size: 5rem;
    }
    header.masthead .post-heading h1, header.masthead .post-heading .h1 {
        font-size: 3.5rem;
    }
    header.masthead .post-heading .subheading {
        font-size: 1.875rem;
    }
}

.section-heading {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 3.75rem;
}

.caption {
    font-size: 0.875rem;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 0.625rem;
    text-align: center;
}

.post-preview > a {
    color: #212529;
}
.post-preview > a:focus, .post-preview > a:hover {
    text-decoration: none;
    color: #0085A1;
}
.post-preview > a > .post-title {
    font-size: 1.875rem;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
}
.post-preview > a > .post-subtitle {
    font-weight: 300;
    margin-bottom: 0.625rem;
}
.post-preview > .post-meta {
    font-size: 1.125rem;
    font-style: italic;
    margin-top: 0;
    color: #6c757d;
}
.post-preview > .post-meta > a {
    text-decoration: none;
}
@media (min-width: 992px) {
    .post-preview > a > .post-title {
        font-size: 2.25rem;
    }
}

.oembed {
    margin-left: calc( -100vw / 2 + 100% / 2 );
    margin-right: calc( -100vw / 2 + 100% / 2 );
    max-width: 99.2vw;
    width: auto;
    margin-bottom: 2rem;

    > * {
        max-width: 1980px !important;
        margin: 0 auto;
    }
}


.article {
    margin-top: 5rem;
    border-bottom: 1px solid $gray-700;
    padding-bottom: 5rem;
}

.article-1 {
    margin-top: 1rem;
}

.article-last {
    padding-bottom: 0;
    border-bottom: none;
}
